@use '../../globals/colors' as *;

.pagination {
  grid-column: 1/3;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__details {
    color: var(--text-color-2);
  }
}
