:root {
  --primary-color: #7f56d9;
  --secondary-color: #f9f5ff;
  --text-color-1: #101828;
  --text-color-2: #667085;
  --menu-line-color: #344054;
  --base-color: #ffffff;
  --border-color: rgba(16, 24, 40, 0.05);
}
