@use './breakpoints' as *;
@use './colors' as *;

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--text-color-1);

  //   letter-spacing: -0.02em;

  @include breakpoint-up(tablet-landscape-up) {
    font-size: 3rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  color: var(--text-color-1);

  @include breakpoint-up(tablet-landscape-up) {
    font-size: 36px;
  }
}
h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color-1);

  @include breakpoint-up(tablet-landscape-up) {
    font-size: 30px;
  }
}
h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color-1);

  @include breakpoint-up(tablet-landscape-up) {
    font-size: 24px;
  }
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  color: var(--text-color-2);
}

.medium-text {
  font-size: 14px;
}

.small-text {
  font-size: 12px;
}
.rich-text {
  font-size: 18px;
  color: var(--text-color-2);
  line-height: 28px;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--text-color-2);
  font-size: 1rem;
  cursor: pointer;
}
.underline {
  text-decoration: underline;
  font-size: inherit;
}
