.input-dropdown {
  width: 100%;
  height: 44px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  display: grid;
  place-items: center;
  padding: 10px 14px;

  select {
    width: inherit;
    border: none;
    text-transform: capitalize;
  }
}
