@use '../../globals/breakpoints' as *;

.read-more {
  color: var(--primary-color) !important;
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    path {
      stroke: var(--primary-color);
    }
  }
}
