@use '../globals/breakpoints.scss' as *;

.blog-post {
  padding-bottom: 96px;

  .align-center {
    display: grid;
    place-items: center;
    text-align: center;
  }

  &__footer {
    margin-top: 64px !important;
    background-color: #1d2939 !important;
    padding-top: 49px;

    span {
      color: #eaecf0;
    }

    &__section {
      padding-bottom: 18px;

      svg > path {
        fill: #eaecf0 !important;
      }

      p {
        color: #eaecf0;
      }
    }

    &__resources {
      display: flex;
      gap: 78px;
      padding-top: 48px;

      div {
        flex-direction: column;
      }

      div > a {
        color: #eaecf0;
      }
    }

    @include breakpoint-up(tablet-landscape-up) {
      padding-top: 264px;
      div {
        grid-template-columns: repeat(3, 1fr);

        section:nth-of-type(2) {
          grid-column: 3/4;
        }

        section:nth-of-type(3) {
          grid-column: 2/3;
          grid-row: 1/2;
          padding-top: 0;
        }
        section:last-child {
          grid-column: 1/4;
        }
      }
    }
  }
  &__newsletter-CTA {
    width: 80%;
    margin-inline: auto;
    background: #f9fafb;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
      0px 8px 8px -4px rgba(16, 24, 40, 0.03);
    border-radius: 16px;
    padding: 40px;
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 24px;
    max-height: 208px;

    span {
      color: #000;
    }
  }
}
