@use '../globals/breakpoints' as *;

.blog-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;

  @include breakpoint-up(tablet-landscape-up) {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 3rem;
  }
}
