@use '../globals/colors' as *;

.blockquote {
  border-left: 1px solid var(--primary-color);
  padding: 8px 0 8px 20px;
  margin: 48px 0;

  &__paragraph {
    color: var(--text-color-1);
    font-style: italic;
    line-height: 30px;
    margin-bottom: 32px;
  }

  &__caption {
    font-size: 16px;
    color: var(--text-color-2);
  }
}
