/* footer {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
} */
.newsletter,
.footer-links {
  display: flex;
  justify-content: space-between;
  /* gap: 2em; */
}

footer .right {
  /* display: flex; */
  align-items: center;
}

footer .right > p {
  display: block;
}
footer .right .MuiOutlinedInput-root {
  height: 48px;
  width: 360px;
}
footer .right button {
  height: 48px;
  margin-left: 0.5em;
  text-transform: capitalize;
  background: var(--secondary-color);
}

.footer-links .right .MuiOutlinedInput-input {
  width: 230px;
}

.copyright {
  display: flex;
  justify-content: space-between;
}
