.subheader {
  margin-top: 2em;
}
.subheader h6 {
  color: var(--secondary-color);
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-style: normal;
}

.subheader h1 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.02em;
  margin: 0.3em 0;
}

.subheader p {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.content {
  width: 100%;
  display: flex;
}

.content .left {
  width: 25%;
}
.content .right {
  width: 75%;
}

.content .left .search-icon .MuiSvgIcon-root {
  background: #d0d5dd;
}
