@use '../../globals/breakpoints' as *;
.blog-card {
  &__img-container {
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 32px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__badge {
    margin-bottom: 1rem;
  }

  &__text {
    margin-top: 12px;
    margin-bottom: 32px;
  }
}

@include breakpoint-up(tablet-landscape-up) {
  .featured {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 32px;

    .blog-card__img-container {
      height: 320px;
      max-width: 580px;
    }
  }
}
