@use '../../globals/colors' as *;
@use '../../globals/breakpoints' as *;

.figure-container {
  width: 100%;

  &__img {
    height: 240px;
    width: 100%;
    object-fit: cover;

    @include breakpoint-up(tablet-landscape-up) {
      height: 512px;
    }
  }

  &__caption {
    margin-top: 12px;
    color: var(--text-color-2);
  }
}
