@use '../../globals/breakpoints' as *;

.blog-overview {
  margin-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  row-gap: 3rem;
  border-bottom: 1px solid #d0d5dd;

  @include breakpoint-up(tablet-landscape-up) {
    margin-top: 0;
    padding-bottom: 4rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;

    article:nth-child(1) {
      grid-column: 1/3;
    }
  }
}
