@use '../../globals/breakpoints' as *;

.blog-main {
  padding-bottom: 65px;
  border-bottom: 1px solid #eaecf0;

  &__brief {
    padding-bottom: 33px;
    border-bottom: 1px solid #eaecf0;
  }

  &__other-resources {
    margin-left: 1rem;
  }

  @include breakpoint-up(tablet-landscape-up) {
    max-width: 720px;
    margin-inline: auto;
    padding-bottom: 96px;
  }
}
