.vertical-tab {
  margin-top: 2rem;

  &__heading {
    color: var(--primary-color);
    margin-bottom: 1.25rem;
  }

  &__list {
    list-style-type: none;

    &__item {
      text-transform: capitalize;
      height: 44px;
      font-size: 16px;
      padding: 10px 14px;

      &:nth-of-type(1) {
        background: #f9f5ff;
        border-radius: 6px;
      }
    }
  }
}
